@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a asp-controller="Items" asp-action="Overview" class="btn btn-primary">Item name display</a>

@* <a asp-controller="Items" asp-action="Edit" asp-route-id="123" class="btn btn-primary">Item edit</a> *@