@model mvc_app.Models.Item;

@{
    ViewData["Title"] = "Tvoja mama i ovo je delete page tab natpis";
}

<h3>Are you sure you want to deltete this item?</h3>

<p>@Model.Name</p>
<p>@Model.Price $</p>


<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="submit" class="btn btn-danger" Value="Delete Item" />

</form>